<div class="container wrapper" ng-init="getData()">
		<div class="row" ng-repeat="one in data">
			<div class="col-sm-12">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<img ng-src="{{one.Info.image}}" class="img-responsive img-local center-block">
						</div>
					</div>
				</div>
				<div class="info text-center">
					<div>
							<h1 class="extMar1">{{one.Info.name}}</h1>
							<h2 class="extMar2">{{one.Info.position}}</h2>
						<div>
							<p class="infopar extMar2">country: {{one.Info.country}}</p>
							<p class="infopar extMar2">gender: {{one.Info.gender}}</p>
						</div>
					</div>
				</div>

				<hr class="style1">
				
				<div class="contact">
					<div class="row jumbotron">
						<div class="col-sm-4">
							<h2>Contact</h2>
						</div>
						<div class="col-sm-8 local">
							<p class="cont">Emial:  {{one.contact.Email}}</p>
							<p class="cont">Phone: {{one.contact.Phone}}</p>
							<p class="site">Website: {{one.contact.website}}</p>
							<p class="site">Address: {{one.contact.Address}}</p>
						</div>
					</div>
				</div>
				
				<div class="education">
					<div class="row jumbotron">
						<div class="col-sm-4">
							<h2>Education</h2>
						</div>
						<div class="col-sm-8">
							<p class="extMar1">High School: {{one.education.highSchool}}</p>
							<p class="extMar1">Proffesional Qualification: {{one.education.professional}}</p>
						</div>						
					</div>
				</div>

				<div class="skills row">
					<div class="container jumbotron">
						<h2>Skills</h2>
					<div class="col-sm-6">
						<h3>Web Development</h3>
						<ul>
							<li>{{one.skills.WebDev.Dev[0]}}</li>
							<li>CSS
								<ul>
									<li>{{one.skills.WebDev.Dev[1].CSS}}</li>
								</ul>
							</li>
							<li>JavaScript 
								<ul>
									<li>front-end
										<ul ng-repeat="m in one.skills.WebDev.Dev[2].JavaScript[0].FrontEnd">
											<li>{{m}}</li>
										</ul>
									</li>
									<li>Back-End
										<ul ng-repeat="b in one.skills.WebDev.Dev[2].JavaScript[1].BackEnd">
											<li>{{b}}</li>
										</ul>
									</li>
									<li>mobile apps
										<ul>
											<li>{{one.skills.WebDev.Dev[2].JavaScript[2].MobileApps}}</li>
										</ul>
									</li>
								</ul>
									<li>Databases
										<ul>
											<li>{{one.skills.WebDev.Dev[3].database}}</li>
										</ul>
									</li>
									<li>Templating Languages
										<ul ng-repeat="i in one.skills.WebDev.Dev[4].templating">
											<li>{{i}}</li>
										</ul>
									</li>
									<li>CMS
										<ul>
											<li>{{one.skills.WebDev.Dev[5].CMS}}</li>
										</ul>
									</li>
							</li>
						</ul>
					</div>
					<div class="col-sm-6">
						<h3>Web Design</h3>
						<ul ng-repeat="o in one.skills.WebDev.Design">
							<li>{{o}}</li>
						</ul>
						<h3>Programming Languages</h3>
						<ul ng-repeat="h in one.skills.ProgrammingLanguages">
							<li>{{h}}</li>
						</ul>

						<h3>OS</h3>
						<ul ng-repeat="j in one.skills.OS">
							<li>{{j}}</li>
						</ul>
					</div>
					</div>
				</div>

				<div class="languages">
					<div class="row jumbotron">
						<div class="col-sm-4">
							<h2>Languages</h2>
						</div>
						<div class="col-sm-8 row">
							<div class="col-sm-4 lang">
								<h3>Writing</h3>
								<ul ng-repeat="a in one.languages.Writing">
									<li>{{a}}</li>
								</ul>
							</div>
							<div class="col-sm-4 lang">
								<h3>Speaking</h3>
								<ul ng-repeat="a in one.languages.speaking">
									<li>{{a}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="hobbies">
					<div class="row jumbotron">
						<div class="col-sm-4">
							<h2>Hobbies</h2>
						</div>
						<div class="col-sm-8 row">
							<div class="col-sm-4 extMar2">
								<p>{{one.hobbies[0]}}</p>
								<p>Sports 
									<ul ng-repeat="n in one.hobbies[1].Sports">
										<li>{{n}}</li>
									</ul>
								</p>
							</div>
							<div class="col-sm-4 extMar2">
								<p>{{one.hobbies[2]}}</p>
								<p>{{one.hobbies[3]}}</p>
								<p>{{one.hobbies[4]}}</p>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row jumbotron">
						<div class="col-sm-12">
							<h2>Reference</h2>
							<p>{{one.References}}</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
