body {
	background: #ccccb3;
}

.top-contianer {
	margin-top: 20px;
}

h1, h2, h3 {
	font-family: 'Roboto Slab', serif;
	color: #339966;
	margin-bottom: 20px;
}

ul {
	margin: 0 0 15px 0;
}

ul>li {
	margin: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.img-local {
	width: 154px;
	height: 154px;
	border-radius: 50%;
	border: 5px solid rgba(121, 85, 72, 0.39);
}

.img-local:hover {
	border: 5px solid #339966;
}

.jumbotron {
	background: #ddd;
}

.jumbotron:hover {
	box-shadow: 0px 0px 4px #000 !important;
}


.jumbotron p{
	font-size: 16px;
}

.linestyle {
	border-top: 1px solid #777;
	box-shadow: 0 0 2px 0;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}

.list-group-item {
	background: transparent;
}

.list-group .linkedin:hover {
	background:#0077b5;
	color: white;
}

.list-group .facebook:hover {
	background: #4867aa;
	color: white;
}

.list-group .insta:hover {
	background: #f15d41;
	color: black;
}

.list-group .github:hover {
	background: grey;
	color: black;
}

.copyright {
	margin-top: 20px;
}